<footer>
    <h2>&copy; 2023 Tune List</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/playlists">My Playlists</a></li>
            <li><a href="/songs/new">Add Songs</a></li>
        </ul>
    </nav>
</footer>
