<header>
    <h1>Tune List</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Adopt</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</header>
