<header>
    <h1>Tune List</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/playlists">My Playlists</a></li>
            <li><a href="/songs/new">Add Songs</a></li>
        </ul>
    </nav>
</header>
