<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Tune List`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Helping people create their ideal playlist for whatever mood they are in!</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Tune List is a non-profit organization dedicated to creating playlists for any genre.
                Our
                mission is to create a user friendly space where users can create their ideal playlist.</p>
            <p>At Tune List, we understand how just having a personalized playlist can affect your day and want to make 
                it easier for users to create these playlists.
                </p>
            
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
