<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Tune List'}) %>
    <link rel="stylesheet" href="/styles/home.css">
    
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="tune">
            <h2>Welcome to Tune List</h2>
            <a href="/songs" class="btn">Songs</a>
        </section>

        <img src="/assets/Homepic.jpeg" class="pic">
        <section class="about">
            <h2>About Us</h2>
            <p>Tune List job is to finding and creating playlist for the mood you're in at any given time..
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
