<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add a Listing | Tune List'}) %>
    <link rel="stylesheet" href="/styles/song-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Create a Listing</h2>
        <h4><i>Helping people create their ideal playlist</i></h4>
    </section>

    <form method="POST" action="/songs">
        <!-- Name input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Artist input -->
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" min="0" required>
        <br>
        <!-- Album input -->
        <label for="album">Album:</label>
        <input type="text" id="album" name="album" required>
        <br>
        <!-- Photo input -->
        <label for="photo">Album Art (URL):</label>
        <input type="text" id="photo" name="photo" required>
        <br>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
