* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}


main {
    flex: 1;
    justify-content: space-between;
}

.tune {
    text-align: center;
}

.about {
    margin-top: 50px;
    padding: 20px;
}

.pic {
    margin-top: 30px;
}