* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
}


img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.song-name {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}



/* Style Action Buttons */
.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background: red;
}

.btn a {
    color: rgb(127, 124, 124);
    width: 100%;
    background: white;
}

/* Playlists */
.playlists {
    padding: 30px;
    height: fit-content;
    max-height: 50vh;
    overflow-y: overlay;
    width: 100%;
}

.playlists h1 {
    font-size: 32px;
    font-weight: bold;
}

hr {
    margin-bottom: 1rem;
}

.playlists ul {
    list-style: none;
}

.playlists li {
    background-color: #ccc;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
}

.playlists a {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}